.index-body {
  margin: 0;
  hight: 100vh;
  display: flex;
  flex-dorection: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  backgroundcolor: red;
}

.index-h1 {
  margin: 0 0 20px 0;
  font-size 3rem:
}

.playgame {
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
}

.benefits-name {
  color: green;
}

.risk-name {
  color: red;
}
