.indexbody {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: red;
}

.indexh1 {
  margin: 0 0 20px 0;
  font-size: 3rem;
}

.playGame {
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
}

.RandB {
  background-color: darkblue;
}

.benefits-name {
  color: green;
}

.risks-name {
  color: red;
}

.aboutbody {
  background-color: black;
}

.whitetext {
  color: white;
}
